<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.web.mapper.VehicleMapper">

    <select id="find" parameterType="org.yzh.web.model.entity.VehicleDO" resultType="org.yzh.web.model.entity.VehicleDO">
        select t.*
        from vehicle t
        <where>
            <if test="id != null">and t.id = #{id}</if>
            <if test="agencyId != null">and t.agency_id = #{agencyId}</if>
            <if test="deviceId != null">and t.device_id = #{deviceId}</if>
            <if test="plateNo != null">and t.plate_no like concat(#{plateNo,jdbcType=CHAR},'%')</if>
            <if test="vinNo != null">and t.vin_no = #{vinNo}</if>
            <if test="engineNo != null">and t.engine_no = #{engineNo}</if>
            <if test="plateColor != null">and t.plate_color = #{plateColor}</if>
            <if test="cityId != null">and t.city_id = #{cityId}</if>
            <if test="provinceId != null">and t.province_id = #{provinceId}</if>
            <if test="vehicleType != null">and t.vehicle_type = #{vehicleType}</if>
            <if test="areaUpdatedAt != null">and t.area_updated_at >= #{areaUpdatedAt,jdbcType=TIMESTAMP}</if>
        </where>
    </select>

    <select id="getByPlateNo" parameterType="java.lang.String" resultType="org.yzh.web.model.entity.VehicleDO">
        select *
        from vehicle
        where plate_no = #{plateNo,jdbcType=CHAR}
    </select>

    <select id="get" parameterType="int" resultType="org.yzh.web.model.entity.VehicleDO">
        select *
        from vehicle
        where id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="org.yzh.web.model.entity.VehicleDO">
        update vehicle
        <set>
            <if test="deviceId != null">device_id = #{deviceId,jdbcType=VARCHAR},</if>
            <if test="agencyId != null">agency_id = #{agencyId,jdbcType=SMALLINT},</if>
            <if test="plateNo != null">plate_no = #{plateNo,jdbcType=CHAR},</if>
            <if test="vinNo != null">vin_no = #{vinNo,jdbcType=CHAR},</if>
            <if test="engineNo != null">engine_no = #{engineNo,jdbcType=VARCHAR},</if>
            <if test="plateColor != null">plate_color = #{plateColor,jdbcType=TINYINT},</if>
            <if test="cityId != null">city_id = #{cityId,jdbcType=SMALLINT},</if>
            <if test="provinceId != null">province_id = #{provinceId,jdbcType=TINYINT},</if>
            <if test="vehicleType != null">vehicle_type = #{vehicleType,jdbcType=TINYINT},</if>
            <if test="remark != null">remark = #{remark,jdbcType=VARCHAR},</if>
            updated_by=#{updatedBy,jdbcType=VARCHAR},updated_at=now()
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <insert id="insert" keyProperty="id" parameterType="org.yzh.web.model.entity.VehicleDO">
        insert into vehicle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">device_id,</if>
            <if test="agencyId != null">agency_id,</if>
            <if test="plateNo != null">plate_no,</if>
            <if test="vinNo != null">vin_no,</if>
            <if test="engineNo != null">engine_no,</if>
            <if test="plateColor != null">plate_color,</if>
            <if test="cityId != null">city_id,</if>
            <if test="provinceId != null">province_id,</if>
            <if test="vehicleType != null">vehicle_type,</if>
            <if test="remark != null">remark,</if>
            updated_by,created_by,updated_at,created_at,area_updated_at
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceId != null">#{deviceId,jdbcType=VARCHAR},</if>
            <if test="agencyId != null">#{agencyId,jdbcType=SMALLINT},</if>
            <if test="plateNo != null">#{plateNo,jdbcType=CHAR},</if>
            <if test="vinNo != null">#{vinNo,jdbcType=CHAR},</if>
            <if test="engineNo != null">#{engineNo,jdbcType=VARCHAR},</if>
            <if test="plateColor != null">#{plateColor,jdbcType=TINYINT},</if>
            <if test="cityId != null">#{cityId,jdbcType=SMALLINT},</if>
            <if test="provinceId != null">#{provinceId,jdbcType=TINYINT},</if>
            <if test="vehicleType != null">#{vehicleType,jdbcType=TINYINT},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
            #{createdBy,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},now(),now(),now()
        </trim>
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from vehicle
        where id = #{id,jdbcType=INTEGER}
    </delete>
</mapper>