<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yzh.component.area.mapper.AreaMapper">

    <select id="findVehicleId" parameterType="map" resultType="int">
        select id
        from vehicle
        <if test="updateTime != null">where area_updated_at >= #{updateTime,jdbcType=TIMESTAMP}</if>
    </select>

    <select id="findAreaId" parameterType="int" resultType="int">
        select area_id
        from area_vehicle
        where vehicle_id = #{vehicleId,jdbcType=INTEGER}
    </select>

    <select id="find" parameterType="org.yzh.component.area.model.vo.AreaQuery" resultType="org.yzh.component.area.model.entity.AreaDO">
        select t.*
        from area t
        <where>
            <if test="id != null">and t.id = #{id,jdbcType=INTEGER}</if>
            <if test="agencyId != null">and t.agency_id = #{agencyId,jdbcType=INTEGER}</if>
            <if test="name != null">and t.name = #{name,jdbcType=VARCHAR}</if>
            <if test="geomType != null">and t.geom_type = #{geomType,jdbcType=INTEGER}</if>
            <if test="markType != null">and t.mark_type = #{markType,jdbcType=INTEGER}</if>
            <if test="limitInOut != null">and t.limit_in_out = #{limitInOut,jdbcType=INTEGER}</if>
            <if test="startDate != null">and t.start_date = #{startDate,jdbcType=DATE}</if>
            <if test="endDate != null">and t.end_date = #{endDate,jdbcType=DATE}</if>
            <if test="deleted != null">and t.deleted = #{deleted,jdbcType=BIT}</if>
            <if test="updatedAt != null">and t.updated_at >= #{updatedAt,jdbcType=TIMESTAMP}</if>
        </where>
    </select>

    <update id="update" parameterType="org.yzh.component.area.model.entity.AreaDO">
        update area
        <set>
            <if test="agencyId != null">agency_id = #{agencyId,jdbcType=SMALLINT},</if>
            <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
            <if test="areaDesc != null">area_desc = #{areaDesc,jdbcType=VARCHAR},</if>
            <if test="geomType != null">geom_type = #{geomType,jdbcType=TINYINT},</if>
            <if test="markType != null">mark_type = #{markType,jdbcType=TINYINT},</if>
            <if test="limitInOut != null">limit_in_out = #{limitInOut,jdbcType=TINYINT},</if>
            <if test="limitSpeed != null">limit_speed = #{limitSpeed,jdbcType=TINYINT},</if>
            <if test="limitTime != null">limit_time = #{limitTime,jdbcType=TINYINT},</if>
            <if test="weeks != null">weeks = #{weeks,jdbcType=TINYINT},</if>
            <if test="startDate != null">start_date = #{startDate,jdbcType=DATE},</if>
            <if test="endDate != null">end_date = #{endDate,jdbcType=DATE},</if>
            <if test="startTime != null">start_time = #{startTime,jdbcType=TIME},</if>
            <if test="endTime != null">end_time = #{endTime,jdbcType=TIME},</if>
            <if test="geomText != null">geom_text = #{geomText,jdbcType=LONGVARCHAR},</if>
            updated_by = #{updatedBy,jdbcType=VARCHAR}, updated_at = now()
        </set>
        where id = #{id,jdbcType=SMALLINT};
        <if test="deleted != null || weeks != null || startDate != null || endDate != null">
            update vehicle
            set area_updated_at = now()
            where id in (
            select vehicle_id
            from area_vehicle
            where area_id = #{id,jdbcType=SMALLINT}
            )
        </if>
    </update>

    <insert id="insert" keyProperty="id" parameterType="org.yzh.component.area.model.entity.AreaDO">
        insert into area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="agencyId != null">agency_id,</if>
            <if test="name != null">name,</if>
            <if test="areaDesc != null">area_desc,</if>
            <if test="geomType != null">geom_type,</if>
            <if test="markType != null">mark_type,</if>
            <if test="limitInOut != null">limit_in_out,</if>
            <if test="limitSpeed != null">limit_speed,</if>
            <if test="limitTime != null">limit_time,</if>
            <if test="weeks != null">weeks,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="deleted != null">deleted,</if>
            <if test="geomText != null">geom_text,</if>
            updated_by,created_by,updated_at,created_at
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="agencyId != null">#{agencyId,jdbcType=SMALLINT},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="areaDesc != null">#{areaDesc,jdbcType=VARCHAR},</if>
            <if test="geomType != null">#{geomType,jdbcType=TINYINT},</if>
            <if test="markType != null">#{markType,jdbcType=TINYINT},</if>
            <if test="limitInOut != null">#{limitInOut,jdbcType=TINYINT},</if>
            <if test="limitSpeed != null">#{limitSpeed,jdbcType=TINYINT},</if>
            <if test="limitTime != null">#{limitTime,jdbcType=TINYINT},</if>
            <if test="weeks != null">#{weeks,jdbcType=TINYINT},</if>
            <if test="startDate != null">#{startDate,jdbcType=DATE},</if>
            <if test="endDate != null">#{endDate,jdbcType=DATE},</if>
            <if test="startTime != null">#{startTime,jdbcType=TIME},</if>
            <if test="endTime != null">#{endTime,jdbcType=TIME},</if>
            <if test="deleted != null">#{deleted,jdbcType=BIT},</if>
            <if test="geomText != null">#{geomText,jdbcType=LONGVARCHAR},</if>
            #{createdBy,jdbcType=VARCHAR},#{createdBy,jdbcType=VARCHAR},now(),now()
        </trim>
    </insert>

    <sql id="updateVehicleAreaUpdatedAt">
        update vehicle
        set area_updated_at = now()
        where id = #{vehicleId,jdbcType=INTEGER}
    </sql>

    <insert id="addVehicle" parameterType="map">
        insert ignore into area_vehicle (vehicle_id, area_id, created_by, created_at) values
        (#{vehicleId,jdbcType=INTEGER}, #{areaId,jdbcType=SMALLINT}, #{createdBy,jdbcType=VARCHAR}, now());
        <include refid="updateVehicleAreaUpdatedAt"/>
    </insert>

    <delete id="removeVehicle" parameterType="map">
        delete from area_vehicle
        where vehicle_id = #{vehicleId,jdbcType=INTEGER}
        <if test="areaId != null">and area_id = #{areaId,jdbcType=SMALLINT}</if>;
        <include refid="updateVehicleAreaUpdatedAt"/>
    </delete>
</mapper>